<div>
    <div>
        <h3>
            CURSO
        </h3>
        <ul>
            <li>ID: {{course.id}}</li>
            <li>NOMBRE: {{course.name}}</li>
        </ul>
    </div>
    <div>
        <table>
            <thead>
                <th>ID</th>
                <th>IDENTIFICACION</th>
                <th>NOMBRES Y APELLIDOS</th>
            </thead>
            <tbody>
                @for (item of course.students; track $index) {
                <tr>
                    <td>{{item.idStudent}}</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.identification}}</td>
                    <td>{{item.name}} {{item.surname}}</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>